@model Desks.Models.Location
@using Microsoft.AspNetCore.Http 
@{
    ViewData["Title"] = "Add_Location";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="add_Location">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="location_name" class="control-label">Location name</label>
                <input asp-for="location_name" class="form-control" />
                <span asp-validation-for="location_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add location" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@{
    if (Context.Session.GetString("Username") != null)
    {
        
    }
    else
    {
        Context.Response.Redirect("Index");
    }
}